<nav class="navbar navbar-inverse ">
           <div class="container">
             <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                 <span class="sr-only">Navigasyon</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#"><img src="/assets/img/new_logo.jpg" /></a>
             </div>
             <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                 <li ><a href="http://www.canliskor.com.tr" target="_blank">www</a></li><!--li den çıkarıldı class="active"-->
                 <li><a href="http://m.canliskor.com.tr" target="_blank">mobile</a></li>
                 <li><a href="http://api.canliskor.com.tr" target="_blank">API</a></li>
               </ul>
             </div><!--/.nav-collapse -->
           </div>
    </nav>

<h1>Hoş Geldiniz!</h1><lesson></lesson><h1>Öğrenci:</h1> <student></student>
